.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.arrow {
  margin: auto;
  padding-top: 50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #F6C63D;
}

body, html {
  height: 100%;
  margin: 0 auto;
}

.center {
  margin: auto;
  padding: 25px;
  width: 500px;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #F6C63D;
  text-align: center;
}

h2 {
  margin: auto;
  font-family: 'Amatic SC', cursive;
  color: white;
}

h3 {
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  color: #F6C63D;
  text-align: center;
}

hr {
  width: 70%;
  color: #F6C63D;
}

.left {
  float: left;
  display: inline-block;
  width: 50%;
}

.middle {
  float: center;
}

.parallax {
  background-image: url("https://www.publicdomainpictures.net/pictures/10000/velka/starry-night-871287410454UmtH.jpg");
  height: 1000%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-outer {
  margin: auto;
  margin-bottom: 50px;
  background-image: url("https://preview.ibb.co/hCWuzc/Brick_Desaturated.jpg");
  width: 500px;
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 600px 600px;
  border: #F6C63D solid 5px;
}

.right {
  float: right;
  display: inline-block;
  width: 50%;
}
.rock {
  font-family: 'Frijole', cursive;
  font-size: 1.5em;
  color: #F6C63D;
}

#superhero {
  width: 25%;
}

.text {
  background-color: black;
  color: white;
  font-family: 'Merriweather', serif;
  line-height: 2;
}

.tikka {
  margin: auto;
  height: 100%;
  background-image: url("https://preview.ibb.co/dpkp9x/Tikka_Side.png");
  background-attachment: fixed;
  background-position: 250px 300px;
  background-repeat: no-repeat;
}

.wrapper {
  margin: auto;
  padding: 25px 0;
  width: 800px;
  overflow: hidden;
}
